:root{
  --primary:#2B283A;
--light:#918E9B;
--red: #F55A5A;
--line: #F5F5F5;
--bold: 25px;
--small: 12px;
--white: #fff;
}
*{
  margin: 0;
  padding: 0;
box-sizing: border-box;

}
body{
  color: var(--primary);
}
nav{
  background: var(--red);
  padding-block: 15px;
}
nav a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-decoration: none;
  gap: 10px;
}
.card-container{
  width: 80%;
  margin: 30px auto 0;
}
.card{
  display: flex;
  align-items: center;
  justify-content:space-between;
  gap: 25px;
  font-size: var(--small);
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: var(--line) 1px solid;
}
.card:last-of-type{
  border: none;
}
.card-location{
  display: flex;
  gap: 15px;
}
.card-location div{
  display: inherit;
  align-items: center;
gap: 4px;
font-size: 11px;
font-weight: 700;
}
.card-title{
  font-size: var(--bold);
  font-weight: 700;
margin: 5px 0 15px;
}
.card-link{
  color: var(--light);
  text-decoration: none;
  border-bottom: 1px solid var(--light);
}
.card-date{
  font-weight: 700;
  margin-bottom: 10px;
}